<link href="https://unpkg.com/@angular/material/prebuilt-themes/indigo-pink.css" rel="stylesheet">
<div class="row" style="display: flex;">
    <div class="box-anim-3 box-anim-14 col-md-4 mb-3 pr-0" style="padding: 10px;">
    <!-- <a href="{{webAbsoluteUrl}}/home/wf/sampletest"> -->
        <a href="http://localhost:4200/wf/sampletest">
        <div class="box bg-orange" style="background-color: #E3702B; width: 250px; height:150px;" >
            <h2 style="text-align: center;">Sample Test Request</h2>
            <span class="count"></span>
        </div>
        </a>
    </div>
    <div class="box-anim-0 col-md-4 mb-3 pr-0" style="padding: 10px;">
    <!-- <a href="{{webAbsoluteUrl}}/home/wf/sampletest"> -->
        <a href="http://localhost:4200/wf/changemanagement">
        <div class="box bg-purple" style="background-color: #D95129; width: 250px; height:150px;">
            <h2 style="text-align: center;">Change Management</h2>
            <div id="ITAsset_COUNT" class="count"></div>
            <span class="count"></span>
        </div>
    </a>							

    </div>
    
    <div class="box-anim-2 col-md-4 mb-3 pr-0" style="padding: 10px;">
    <!-- <a href="{{webAbsoluteUrl}}/home/wf/capexbudget"> -->
        <a href="http://localhost:4200/wf/capexbudget">
        <div class="box bg-yellow"  style="background-color: #CC8131; width: 250px; height:150px;">
            <h2 style="text-align: center;">CAPEX Budget Proposal</h2>
            <h3></h3>
            <span class="count"></span>
        </div>
    </a>
    </div>
    
    <div class="box-anim-8 col-md-4 mb-3 pr-0" style="padding: 10px;">
    <a href="{{webAbsoluteUrl}}/home/wf/sampletest">
        <div class="box bg-purple" style="background-color: #078B26; width: 250px; height:150px;">
            <h2 style="text-align: center;">Sample Test -4</h2>
            <h3></h3>
            <span class="count"></span>
        </div>
        </a>
    </div>
</div>
